:root{
    --title-color: #322153;
    --primary-color: #34cb79;
    --cinza-color: #f0f0f5;
}

*{
    margin: 0;
    padding: 0;
    /*O preenchimento é limitado pela borda*/
    box-sizing: border-box;
}

html {
    font-family: 'Comfortaa', 'cursive';
}

body{
    background: #f0f0f5; 
}

a {
    text-decoration: none;
}

header{
    display: flex;
    align-items: center; /*Alinhará o texto no eixo x*/
    justify-content: space-between;
    margin-top: 48px;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--title-color);
    font-family: 'Ubuntu', sans-serif;
}